html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background: rgba(230, 228, 228, 0.842);
    font-weight: 400;
}

.counter {
    margin: 5rem auto;
    min-height: 15rem;
}

.counter__students,
.counter__money {
    background-color: white;
    height: 15rem;
    padding: 3rem;
    font-size: 3rem;
    border: 5px solid rgba(230, 228, 228, 0.842);
}
.topbar {
    height: 100%;
}

.floating-chevrons {
    position: absolute;
    bottom: 3%;
    left: 75%;
    color: white;
    font-size: 30px;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

    @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.image{
    background-image: url("../img/groepsfoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    z-index: 100;
    filter: brightness(70%);
}

.image-overlay {
    position: absolute;
    top: 10%;
    color: white;
    left: 10%;
}

.whitebar{
    position: relative;
    background: white;
    min-height: 40px;
    text-align: center;
    padding: 1px;
    height: 100%;
}

.title{
    text-transform: uppercase;
}

.title__text {
    height: 9rem;
}

.info {
    margin: 20rem 1rem;
}

.center{
    text-align: center;
}

.left
{
  text-align: left;
}

.sponsor{
    max-width: 60px;
    margin: 10px;
}

.sponsorCC{
    max-width: 60px;
    margin: 10px;
}

.sponsorCC:hover{
    content: url("../img/CClogokleur.jpg");
    max-width: 60px;
    margin: 10px;
}

.sponsorbig{
    width: 200px;
    margin: auto;
    float: left;
}

.jc-center {
    display: flex;
    justify-content: center;
}

.content{
    min-height: 200px;
    position: relative;

}

.donate{
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    text-transform: uppercase;
    border-radius: 20px;
}

.table
{
    position: center;  
    background-color: white; 
    border: lightgray 1px solid;
}

.tableline
{
    font-style: italic;
    font-size: 16px;
}

.textbig
{
    font-size : 18px;
}

.bluebar{
    background: lightblue;
    min-height: 70px;
    text-align: center;
    padding: 1px;
}

.footer {
    padding: 3rem;
}

.left-align {
    text-align: left;
}

.mb1 {
    margin-bottom: 5rem;
}